.add-user {
  height: 250px;
  padding: 50px;
  border: 1px solid red;
}

.display-user {
  height: 200px;
  padding: 50px;
  margin-top: 10px;
  border: 1px solid blue;
}

.add-user input {
  width: 250px;
  height: 35px;
  display: block;
}

.add-user button {
  width: 250px;
  height: 35px;
  display: block;
  margin-top: 10px;
}
